@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #ea2812;
  --color-secondary-1: #ff5722;
  --color-secondary-2: #d32f2f;
  --color-neutral-1: #ffffff;
  --color-neutral-2: #f0f0f0;
  --color-neutral-3: #333333;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;

}
/* globals.css */

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding:0 1rem;
}

main {
  flex: 1;
}

footer {

}
