/* Estilo de los enlaces en la barra de navegación */
.navLink {
  position: relative;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 1rem; /* Tamaño de fuente en pantallas grandes */
  padding: 1rem;
}

/* Línea debajo del enlace en hover */
.navLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  transition: width 0.3s ease, background-color 0.3s ease;
}
.navLink:hover{

  color: red;
}
.navLink:hover::after {
  width: 100%;
  background-color: red; /* Color de la línea en hover */
  /*cambiar de color al texto */

}
.navLogo:hover{
  transition: color 0.5s ease, transform 0.5s ease;
  color:red;
}
/* Ajustes para pantallas móviles */
@media (max-width: 768px) {
  .navLink {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño en pantallas móviles */
  }

  /* Asegura que los enlaces se alineen verticalmente en pantallas móviles */
  .md\\:hidden {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; /* Espacio entre los enlaces */
  }
}
.image {
  width: auto; /* Ensure the image keeps its aspect ratio */
  height: auto;
  max-width: 4rem;
  max-height: 4rem;

}