/* styles/Event.module.css */
.container {
  background-color: var(--color-neutral-1); /* Usa la variable de color definida */
  color: var(--color-text-primary); /* Usa la variable de color definida */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'FuturaBold', sans-serif;
}

.textContainer {
  text-align: center;
  margin-bottom: 2rem; /* Ajusta el margen inferior según sea necesario */
}

.title {
  font-size: 3rem; /* Ajusta el tamaño del texto */
  font-weight: bold;
  margin-bottom: 1rem; /* Ajusta el margen inferior */
}

.subtitle {
  font-size: 1.25rem; /* Ajusta el tamaño del texto */
  color: var(--color-text-secondary); /* Usa la variable de color definida */
}

.buttonsContainer {
  display: flex;
  gap: 1rem; /* Espacio entre los botones */
  margin-bottom: 3rem; /* Ajusta el margen inferior para separar los botones del logo */

}

.button {
  background-color: var(--color-neutral-1); /* Usa la variable de color definida */
  color: var(--color-primary); /* Usa la variable de color definida */
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  border: 2px solid var(--color-primary); /* Usa la variable de color definida */
  border-radius: 0.5rem;
}

.button:hover {
  background-color: var(--color-primary); /* Usa la variable de color definida */
  color: var(--color-neutral-1); /* Cambia el color del texto al pasar el cursor */
  border: 1px solid var(--color-primary); /* Mantén el borde igual al pasar el cursor */
  transform: scale(1.1); /* Usa transform para el efecto de zoom */
  /*animation*/
  transition: all 0.3s ease;
}

.logo {
  margin-top: 3rem; /* Ajusta el margen superior para bajar el logo */
  /*animation al aparecer*/

}
